@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
:root{

    --light-color-1:lightblue;
    --light-color-2:gray;

    --dark-color-1:gray;
    --dark-color-2:lightblue;



    --bg-color-light-theme:var(--light-color-1);
    --bg-color-dark-theme:var(--dark-color-1);

    --text-color-light-theme:var(--light-color-2);
    --text-color-dark-theme:var(--dark-color-2);

    
    --burger-color-light-theme:var(--light-color-2);
    --burger-color-dark-theme:var(--dark-color-2);
    
    --button-color-light-theme:var(--light-color-2);
    --button-color-dark-theme:var(--dark-color-2);
    
    --button-dot-color-light-theme:var(--light-color-1);
    --button-dot-color-dark-theme:var(--dark-color-1);
    
    --nav-color-light-theme:lightblue;
    --nav-color-dark-theme:gray;

    --hover-color-light-theme:rgb(78, 78, 78);

    --scrollbar-color:#bdc3c7;
    --scrollbar-thumb-color:gray;
    
    --invert-color:50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    background-color: var(--scrollbar-color);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-thumb-color);
    border-radius: 30px;
}
body{
    /* background-color: var(--bg-color-light-theme); */
}
body.dark{
    background-color:var(--bg-color-dark-theme);
    color: var(--text-color-dark-theme);
    transition: 1s ease-in;
}
body.light{
    background-color:var(--bg-color-light-theme);
    color: var(--text-color-light-theme);
    transition: 1s ease-in;
}
.logo-img{
    width: 70px;
    transition: 1s ease-in;
    filter: invert(var(--invert-color));
}
.logo-img.dark{
    /* filter: invert(0%); */
    width: 0px;
}
.logo-name, .logo-paragraf{
    font-family: 'Comfortaa', cursive;
}
.logo-name{
    font-size: 50px;
}
.logo-paragraf{
    font-size: 20px;
}
.logo{
    display: flex;
    align-items: center;
    margin:20px ;
    height: 100px;
}
nav{
    min-height: 70px;
    width: 100vw;
    
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 40%;
}
.link{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: inherit;
    /* transition: 1s ease-in; */
}
a:hover{
    color: var(--hover-color-light-theme);
    transition: 0.3s ease-in;
}
.switch-button{
    margin-top: 35px;
    width: 70px;
    height: 30px;
    background-color: var(--button-color-light-theme);
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.switch-button.light{
    background-color:var(--button-color-light-theme);
}
.switch-button.dark{
    background-color:var(--button-color-dark-theme);
}
.dot-button{
    width: 25px;
    height: 25px;
    background-color: var(--button-dot-color-light-theme);
    border-radius: 50%;
    margin: 0 2px;
    transition:1s;
}
.dot-button.light{
    background-color:var(--button-dot-color-light-theme);
}
.dot-button.dark{
    background-color:var(--button-dot-color-dark-theme);
}
.dot-button.right{
    transform: translateX(40px);
    
}
@media only screen and (max-width: 940px){
    .links{
        position: absolute;
        top: 0;
        right: 0;

        width: 100vw;
        height: 100vh;

        flex-direction: column;

        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path:circle(100px at 90% -15%);
        transition: 1s ease-out;
        opacity: 0.9;
        backdrop-filter: blur(1 0px);

        z-index: 100;
    }
    .links.light{
        background-color: var(--nav-color-light-theme);

    }
    .link{
        letter-spacing: 30px;
    }
    .link:nth-child(1){
        opacity: 0;
        transition: 0.5s ease;
    }
    .link:nth-child(2){
        opacity: 0;
        transition: 0.5s ease;
    }
    .link:nth-child(3){
        opacity: 0;
        transition: .5s ease;
    }
    .links.open >.link{
        opacity: 1;
        letter-spacing: 5px;
    }
    .links.open{
        clip-path: circle(1300px at 90% -15%);
        -webkit-clip-path:circle(1300px at 90% -15%);
    }
    .links.dark{
        background-color: var(--nav-color-dark-theme);
    }
    .line{
        width: 25px;
        height: 4px;
        background-color: var(--burger-color-light-theme);
        margin:5px;
    }
    .burger{
        z-index: 101;
        cursor: pointer;
        margin-top: 35px;
    }
    .burger.display-none{
        pointer-events: none;
    }
    nav{
        width: 100vw;
        height: 100vh;
    }
} 
.header-container{
    width: 100vw;
    min-height: 700px;

    position: sticky;
    top: 0;

    padding-top:100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 0 100px;
}
.person-img{
    width: 500px;
}
#text1, #text2{
    width: 500px;
}
#text1{
    color: var(--light-color-2);
}
#text2{
    color: var(--light-color-1);
}
h2{
    margin: 10px;
    font-size: 30px;
}
p{
    font-size: 20px;
}
.about{
    width: 100vw;
    height: 100vh;
}
